.spinner-border{
    margin-top: 13px;
    display: none;
}
.checkId{
    display: none;
}
.checkName{
    display: none;
}
.checkAge{
    display: none;
}
.checkCollege{
    display: none;
}
.CheckLikes{
    display: none;
}
.alert-success{
    background-color: #33ce81;
    color: white ;
}
.alert-primary{
    background-color: rgb(248, 224, 150);
    color: rgb(97, 92, 92) ;
}